---
import { ClientRouter } from "astro:transitions";
import { SEO } from "astro-seo";
import Footer from "../components/Astro/Footer.astro";
import Header from "../components/Astro/Header.astro";
import "../styles/global.css";

import type { BlogLayoutProps } from "../types/blog";
import { defaultSEO, defaultTheme } from "../constants/defaults";

const props = Astro.props as BlogLayoutProps;
const seo = {
  ...defaultSEO,
  ...props.seo,
};
const theme = {
  ...defaultTheme,
  ...props.theme,
};
const blog = props.blog;

const titleTemplate = seo.tagline
  ? `%s - I Develop Tech | ${seo.tagline}`
  : `%s - I Develop Tech`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={seo.title}
      titleTemplate={titleTemplate}
      description={seo.description}
      canonical={seo.url}
      noindex={false}
      nofollow={false}
      openGraph={{
        basic: {
          title: seo.title,
          type: "website",
          image: seo.image,
          url: seo.url,
        },
        optional: {
          locale: "en_US",
          siteName: seo.title,
          description: seo.description,
        },
        image: {
          alt: seo.altImageText,
          width: 1200,
          height: 630,
          type: "image/png",
        },
        article: {
          publishedTime: blog?.publishedTime,
          modifiedTime: blog?.modifiedTime,
          expirationTime: blog?.expirationTime,
          authors: blog?.authors,
          section: blog?.section,
          tags: blog?.tags,
        },
      }}
      twitter={{
        card: "summary_large_image",
        site: "",
        creator: "",
        title: seo.title,
        description: seo.title,
        image: seo.image,
        imageAlt: seo.altImageText,
      }}
      extend={{
        meta: [
          { name: "theme-color", content: theme.bgColor },
          { name: "apple-mobile-web-app-capable", content: "yes" },
          { name: "apple-mobile-web-app-status-bar-style", content: "black" },
          { name: "author", content: "Matt Myers" },
          {
            name: "keywords",
            content: seo.keywords,
          },
        ],
        link: [
          { rel: "canonical", href: seo.url },
          { rel: "icon", type: "image/png", href: "/favicon.png" },
          { rel: "apple-touch-icon", href: "/favicon.png" },
        ],
      }}
    />
    <title>{seo.title}</title>
    <ClientRouter />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://api.fontshare.com/v2/css?f[]=cal-sans@400,500,600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="m-0 min-h-screen relative font-sans"
    style={`background-color: ${theme.bgColor}`}
  >
    <Header />
    <main class="prose prose-invert max-w-3xl mx-auto py-8">
      <slot />
    </main>
    <div class="mb-32">
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  :root {
    color-scheme: dark;
  }
</style>
